.preview-container {
    position: relative;
    margin-left: 80vw;
    background-color: rgb(203 203 205);
    height: 95vh;
    margin-top: -5vh;
    overflow-y: scroll;
    z-index: 1;
}

.preview-back {
    display: flex;
    padding: 1vh 0 0 1vw;
}

.animation-in {
    animation: smooth-appear 1s ease forwards;
    transform: translateX(-101%);
}

.animation-out {
    animation: smooth-disappear 1s ease forwards;
    transform: translateX(-101%);
}

@keyframes smooth-appear {
    from {
        width: 0;
    }
    to{
        width: calc(30vw);
    }
  }

@keyframes smooth-disappear {
    from {
        width: calc(30vw);
    }
    to{
        width: 0;
    }
  }  

@keyframes smooth-appear-tablet {
    from {
        width: 0;
    }
    to{
        width: calc(50vw);
    }
}

@keyframes smooth-disappear-tablet {
    from {
        width: calc(50vw);
    }
    to{
        width: 0;
    }
}  

@keyframes smooth-appear-mobile {
    from {
        width: 0;
    }
    to{
        width: calc(80vw);
    }
}

@keyframes smooth-disappear-mobile {
    from {
        width: calc(80vw);
    }
    to{
        width: 0;
    }
} 

.preview-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vh;
}

.preview-year {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2vw;
}

.preview-year span:nth-child(1) {
    text-decoration: underline;
}

.preview-year span:nth-child(2) {
    font-weight: bold;
    font-size: larger;
    margin-left: 2vw;
}

.preview-place {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2vw;
}

.preview-place span:nth-child(1) {
    text-decoration: underline;
}

.preview-place span:nth-child(2) {
    font-weight: bold;
    font-size: larger;
    margin-left: 2vw;
}

.preview-title {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-left: 2vw;
    font-weight: bold;
    font-size: x-large;
}

.preview-desc {
    margin-left: 2vw;
    text-align: justify;
    font-size: medium;
    margin-right: 2vw;
    margin-bottom: 4vh;
}

.preview-more-link {
    margin: -1vh 0 -1vh 2vw;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 10px;
}

@media (max-width: 999px) {
    .preview-container {
        margin-left: 100vw;
        height: calc(80vh - 3px);
    }

    .preview-content {
        gap: 1vh;
    }
    
    .preview-more-link {
        margin: 0 0 0 2vw;
    }

    .preview-desc {
        margin: 0 3vw 3vh 3vw;
    }

    .animation-in {
        animation: smooth-appear-tablet 1s ease forwards;
        transform: translateX(-100%);
    }
    
    .animation-out {
        animation: smooth-disappear-tablet 1s ease forwards;
        transform: translateX(-100%);
    }
}

@media (max-width: 500px) {
    .preview-container {
        margin-left: 100vw;
        height: calc(79vh - 13px);
        margin-top: -10vh;
    }

    .preview-desc {
        font-size: smaller;
    }

    .animation-in {
        animation: smooth-appear-mobile 1s ease forwards;
        transform: translateX(-100%);
    }
    
    .animation-out {
        animation: smooth-disappear-mobile 1s ease forwards;
        transform: translateX(-100%);
    }
}

.event-link {
    text-decoration: none;
}