.header-container {
    height: 5vh;
    border-bottom: 2px solid;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    margin: 0;
    font-weight: bold;
    font-size: large;
}

@media (max-width: 500px) {
    .header-container {
        height: 6vh;
        padding: 5px;
    }
}